:root {
  --white-color: white;
  --black-color: black;
  --dark-blue: #000513;
}

/* ================= header ================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.icons {
  display: none;
}

header {
  background-color: var(--white-color);
  padding: 15px 10%;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
  z-index: 3;
  top: 0;
}

.img-flex {
}

.img-flex img {
  width: 250px;
}

ul li {
  display: inline-block;
  padding-right: 30px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  color: var(--black-color);
}

ul li::after {
  content: "";
  position: absolute;
  width: 60%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ====================== section one ===================== */
.banner {
  background-color: var(--black-color);
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  background-image: url(/images/young-black-race-man-with-blueprint-stading-near-glass-building\ 1.png);
  height: 100vh;
  width: 100%;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 70%;
  /* animation: bgchange 20s linear infinite; */
}
.body {
  isolation: isolate;
}

.body h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
}
.body p {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  position: relative;
}
.body p::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 5px;
  bottom: -20%;
  left: 16%;
  background-color: #ef6828;
}

.about_us {
  background-color: var(--white-color);
}

.about_us .container {
  margin: 6vw 8vw;
}
.about_txts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_txts .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 3rem;
}
.about_txts .btns button {
  background-color: #fff;
  border: 1px solid #ef6828;
  padding: 0.5rem;
  font-weight: 500;
  color: var(--neutral-700, #3d445c);
  transition: 0.3s;
}
.about_txts .btns button:hover {
  cursor: pointer;
  background-color: #3d445c;
  color: var(--white-color);
  border: ipx solid var(--white-color);
}

.about_txts .txts {
  width: 60%;
  justify-content: center;
}
.about_txts .txts p {
  font-size: 16px;
  font-weight: 600;
}

footer {
  background-color: var(--white-color);
}
footer .container {
  padding: 4vw 8vw;
}

.footer_box {
  display: flex;
  justify-content: space-between;
}
.footer_box .box1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer_box .box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.footer_box .box1 #address {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 3rem;
}
.footer_box .box1 #address p {
  color: var(--primary, #2947a9);
  font-size: 18px;
  font-weight: 500;
}
.footer_box .box1 #address span {
  color: var(--neutral-800, #292e3d);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.footer_box .box1 #footer_img img {
  width: 250px;
}
.footer_box .box2 #sub {
  margin-bottom: 3rem;
}
.footer_box .box2 #sub p {
  color: var(--primary, #2947a9);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer_box .box2 #sub div {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  width: 100%;
}
.footer_box .box2 #sub div input {
  padding: 7px;
  width: 100%;
}
.footer_box .box2 #sub div button {
  border-radius: 4px;
  background: var(--secondary, #f9995d);
  padding: 10px;
  border: none;
  font-weight: 600;
  color: #fff;
}
.footer_box .box2 #socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.footer_box .box2 #socials button {
  padding: 15px;
  border-radius: 50%;
}
.copyright {
  background: var(--primary, #2947a9);
}
.copyright div {
  padding: 2vw 8vw;
}
.copyright div p {
  font-weight: 500;
  color: var(--white-color);
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .icons {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .icons1 {
    right: 50px;
    top: 30px;
    position: absolute;
    color: var(--black-color);
  }

  .icons2 {
    top: 50px;
    right: 50px;
    position: absolute;
    color: var(--white-color);
  }

  .img-flex img {
    width: 170px;
  }

  ul {
    background-color: var(--dark-blue);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 70px;
    right: -100%;
    bottom: 0;
    padding-left: 30px;
    z-index: 3;
    padding-top: 40px;
    transition: all ease 0.5s;
  }
  ul li {
    display: block;
    color: var(--white-color);
    padding-top: 30px;
    font-size: 15px;
    margin-left: 20px;
  }

  ul li::after {
    width: 30%;
  }
}
